header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  min-height: 3rem;
  border: 1px solid black;
}

.header-nav {
  padding: 0.5rem;
  background-color: darkgray;
  color: black;
  text-decoration: none;
  border-radius: 5%;
  min-width: 5rem;
  text-align: center;
}
